[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.3"
channels = "==2.1.5"
channels-redis = "*"
idna = "==2.7"
incremental = "==17.5.0"
msgpack = "==0.5.6"
pyhamcrest = "==1.9.0"
six = "==1.11.0"
asgiref = "==2.3.2"
psycopg2-binary = "==2.7.5"

[requires]
python_version = "3.7"
